#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.25rem;
  text-align: center;
}
.maindiv{
  border: 2px dashed gold;
  color: white;
}
.flex{
  display: flex;
  justify-content: center;
}
p{
  margin: 7px;
}
input{
  width: 90%;
}
